---
---
<div class="bottom-bar">
    <section class="newsletter">
        <div class="newsletter-text">
            <h2>Biuletyn PIR</h2>
            <p>Raport legislacyjny dla profesjonalistów.</p>
        </div>
        <form class="n-form">
            <input type="email" placeholder="Twój e-mail" required>
            <button type="submit" class="btn-sub">Zapisz się</button>
        </form>
    </section>
</div>